services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./build/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./build/nginx/default.html:/var/www/default.html
      - ./zenith/public:/var/www/zenith/public:ro
      - ./amadeus/public:/var/www/amadeus/public:ro
      - ./payment-gateway/public:/var/www/payment-gateway/public:ro
      - ./core-api/public:/var/www/core-api/public:ro
    depends_on:
      - zenith
      - amadeus
      - payment-gateway
      - core-api
      - supplier-hub
    networks:
      - akijair-network

  zenith:
    build:
      context: ./zenith
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    container_name: zenith
    expose:
      - "9000"
    volumes:
      - ./zenith:/var/www
      - ./build/apps/zenith/.env:/var/www/.env
      - ./build/apps/zenith/storage:/var/www/storage
    networks:
      - akijair-network

  amadeus:
    build:
      context: ./amadeus
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    container_name: amadeus
    expose:
      - "9000"
    volumes:
      - ./amadeus:/var/www
      - ./build/apps/amadeus/.env:/var/www/.env
      - ./build/apps/amadeus/storage:/var/www/storage
    networks:
      - akijair-network

  payment-gateway:
    build:
      context: ./payment-gateway
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    container_name: payment-gateway
    extra_hosts:
      - "host.docker.internal:host-gateway"
    expose:
      - "9000"
    volumes:
      - ./payment-gateway:/var/www
      - ./build/apps/payment-gateway/.env:/var/www/.env
      - ./build/apps/payment-gateway/storage:/var/www/storage
    networks:
      - akijair-network

  core-api:
    build:
      context: ./core-api
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    container_name: core-api
    expose:
      - "9000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./core-api:/var/www
      - ./build/apps/core-api/.env:/var/www/.env
      - ./build/apps/core-api/storage:/var/www/storage
      - ./build/apps/core-api/supervisor/supervisord.conf:/etc/supervisor/supervisord.conf:ro
      - ./build/apps/core-api/supervisor/conf.d:/etc/supervisor/conf.d:ro
    networks:
      - akijair-network
  supplier-hub:
    build:
      target: ${TARGET:-dev}
      context: ./supplier-hub
      args:
        APP_USER: ${APP_USER:-1000}
    container_name: supplier-hub
    restart: unless-stopped
    expose:
      - "3100"
    ports:
      - "3100:3100"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./supplier-hub:/app/
      - ./build/apps/supplier-hub/.env:/var/www/.env
      - ./build/apps/supplier-hub/storage:/var/www/storage
    environment:
      TARGET: "dev"
    networks:
      - akijair-network

  app-redis:
      container_name: redis-stack
      image: redis/redis-stack:latest
      ports:
        - 6379:6379
        - 8001:8001
      volumes:
        - ./build/redis/data:/data
      networks:
        - akijair-network
      environment:
        REDIS_ARGS: --appendonly yes --appendfsync everysec
  broker:
    image: apache/kafka:latest
    container_name: broker
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      # Binds Kafka to listen on multiple interfaces:
      # - PLAINTEXT: For internal communication on the Docker network (`kafka-net`).
      # - PLAINTEXT_HOST: For external connections from the host machine via port 29092.
      # - CONTROLLER: For inter-broker/controller communication (internal only).
      KAFKA_LISTENERS: PLAINTEXT://broker:9092,PLAINTEXT_HOST://0.0.0.0:29092,CONTROLLER://broker:9093
      # Advertises Kafka to clients:
      # - PLAINTEXT: For other containers on the same network. They must use `broker:9092`.
      # - PLAINTEXT_HOST: For external clients (on the host machine). They must use `localhost:29092`.
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_LOG_DIRS: /kafka/data
    ports:
      - 9092:9092 # Note: 9092 is exposed to the host for internal traffic, but it's not advertised.
      - 9093:9093 # Internal controller port, usually not exposed.
      - 29092:29092 # Advertised external listener port.
    healthcheck:
      test: ["CMD-SHELL", "kafka-broker-api-versions.sh --bootstrap-server localhost:9092 || exit 1"]
      interval: 10s
      timeout: 20s
      retries: 12
      start_period: 50s
    networks:
      - akijair-network
    volumes:
      - ./build/kafka/data:/kafka/data
  kafbat-ui:
    container_name: kafbat-ui
    image: ghcr.io/kafbat/kafka-ui:latest
    ports:
      - 8082:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
    volumes:
      - ./build/kafka/kafbat_config.yml:/etc/kafkaui/dynamic_config.yaml
    depends_on:
      - broker
    networks:
      - akijair-network

networks:
  akijair-network:
    driver: bridge
